head, body{
    background-color: #0072bb;
    background-image: url(littlelogos.png);
    background-position: center;
    flex-direction: column;
    justify-content: space-around;
}

.header{
    width: 350px;
    margin-top: 80px;
}

.buttons{
    margin-top: 70px;
}
.btn{
padding: 25px 80px;
border: none;
font-size: larger;
outline: none;
color: #0072bb;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 12px;
background-color: #fef200;
width: 97px;
height: 20px;
text-decoration: none;
}



.btn:hover{
padding: 30px 85px;
}


.btn2{
padding: 25px 80px;
border: none;
font-size: larger;
outline: none;
color: #0072bb;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 12px;
background-color: #fef200;
}

.btn2:hover{
padding: 30px 85px;
}

.btn3{
padding: 25px 80px;
border: none;
font-size: small;
outline: none;
color: #fef200;
font-family: fantasy;
cursor: pointer;
position: relative;
text-align: center;
z-index: 0;
text-decoration: none;
}

.btn3:hover{
color: #00aaff;
text-decoration: underline;
}
